.image-to-show {
    display: none;
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.active{
    display: block;
}

