@import "reset.css";

.logo{
    margin-top: 61px;
    margin-left: 101px;
}
.ramda{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;;
    font-size: 80px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.mda{
    color: #4bcaff;
}
.header{
    width: 1280px;
    height: 69px;
    margin-left: 100px;
    margin-top: 61px;
    background-color: #35444f;
}
.side-bar{
    position: absolute;
    margin-top: 23px;
 
}
.link-header{
    padding: 20px;
    margin-left: 75px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #ffffff;
}
.link-header:hover{
    
    transition: all 300ms ease; 
    background-color: #222f3a;
    
}
.content-box{
    display: flex;
}
.sidebar-left{
    margin-left: 100px;
    margin-top: 150px;
}
.menu-left{
    border: 1px solid black;
    width: 344px;
    height: 399px;
}
li >a{
    margin-top: 30px;
    margin-left: 44px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    line-height: 2.96;
    color: #485863;
}
li >a:hover{
    padding: 20px;
    background-color: #dbdbdb;
    transition: all 300ms ease;
}
.image{
    border: 1px solid black;
    width: 885px;
    height: 529px;
    margin-left: 52px;
    margin-top: 150px;
}
img{
    width: 320px;
    height: 381px;
}
.icon{
    margin-left: 297px;
    margin-top: 75px;
    margin-right: 268px;
    margin-bottom: 73px;
}
.wrapper{
    margin-top: 50px;
}
.content{
    margin-left: 526px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.33;
    color: black;
}
.content-eng{
    margin-top: 31px;
    margin-left: 526px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.33;
    color: black;
}
img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);

}
.footer{
    margin-left: 100px;
    margin-top: 51px;
    margin-bottom: 31px;
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
}

.link{
    text-decoration: none;
    margin-left: 44px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 3.21;
    text-align: left;
    color: #0c1927;
}
.copyright{
    margin-left: 1071px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 3.75;
    text-align: left;
    color: #010101;
}
.link-copyright{
    text-decoration: none;
    margin-left: 219px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #010101;
}
.link:hover{
    color: #3181a6;
    border-bottom: 1px solid;
}
.holder{
    position:relative;   
    width:300px;
    height:400px;
    background:#ff6600;
     margin:100px auto;
}
.block{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(255,255,255, 0.7);
    padding:5px;
    display:none;
}
