.basketContainer{
  margin: 40px 0 40px 0;
  display: flex;
  justify-content: space-between;
  width: 700px;
  //height: 400px;
  background-color: #818897;
}
.footerBasket{
  display: flex;
  justify-content: space-between;
}

//.products{
//  display: flex;
//
//  background-color: #00cbf6;
//}