@import "reset.css";
.background{
    background-image: url('../image/img-background.png');
    background-size: cover;
    width: 100%;
    height: 800px;
}
.header{
    height: 50px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1210px;
}
.logo{
    text-decoration: none;
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
.logo:hover{
    color: #3cb878;
}
.top-right{
    display: flex;
}
.side-bar{
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
}
.side-bar::before{
    content: '';
    margin: 0 20px;
    border: 1px solid white;
    opacity: 0.1;
}
.links{
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.5;
    color: #3cb878;
    text-decoration: none;
}
.links:hover{
    border-bottom: 1px solid #3cb878;
}
.links-icon{
    text-decoration: none;
}
.icon{
    display: inline-block;
    background-image: url("../image/icon-sprite.png");
    width: 20px;
    height: 20px;
    transition: background-position;
}
.icon-one{
    margin-left: 28px;
    background-position: 0 0;
    transition: 0.2s ease-in;
}
.icon-one:hover{
    background-position: 0 23px;
    transition: 0.2s ease-in;
}
.icon-two{
    width: 28px;
    height: 21px;
    margin-left: 28px;
    background-position: 50px 0px;
    transition: 0.1s ease-in;
}
.icon-two:hover{
    background-position: 50px 24px;
    transition: 0.2s ease-in;
}
.icon-three{
    margin-left: 28px;
    background-position: 21px 0;
    transition: 0.2s ease-in;
}
.icon-three:hover{
    background-position: 21px 23px;
    transition: 0.2s ease-in;
}
.line{
    margin: 0 20px;
    width: 1px;
    height: 20px;
    opacity: 0.1;
    background-color: white;
}
.container-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
}
.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 444px;
    height: 584px;
    border-radius: 10px;
    background-color: #ffffff;
}
.items-top{
    display: flex;
    justify-content: space-between;
    width: 327px;
    height: 20px;
    margin-top: 29px;
}
.items-left{
    width: 77px;
    height: 19px;
    font-family: Verdana;
    font-size: 20px;
    line-height: 1.05;
    color: #434343;
}
.buttoms{
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin-top: 17px;

}
.button{
    outline: none;
    width: 157px;
    height: 46px;
    border-radius: 3px;
    background-color: #264b96;
    transition: 0.3s ease-in;
}
.button:hover{
background-color: #243D7A;
}
.two{
    outline: none;
    width: 157px;
    height: 46px;
    border-radius: 3px;
    background-color: #c3412c;
}
.two:hover{
    background-color: #8E3D2B;
}
.name-button{
    font-family: Verdana;
    font-size: 16px;
    color: #ffffff;
    margin-left: 10px;

}
.fab {
    font-size: 18px;
    color: #fff;
}
.fab::after{
    content: '';
    border-right: 1px solid #000;
    margin-left: 15px;
    opacity: 0.2;
}
.liner{
    margin-top: 33px;
    margin-bottom: 21px;
}
.liner-text{
    font-family: Verdana;
    font-size: 14px;
    color: #848484;
}
.liner-text::before{
    content: '';
    margin-right: 18px;
    width: 135px;
    height: 1px;
    background-color: #848484;
    display: inline-block;
    vertical-align: middle;
}
.liner-text::after{
    content: '';
    margin-left: 18px;
    width: 135px;
    height: 1px;
    background-color: #848484;
    display: inline-block;
    vertical-align: middle;
}
.form-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 322px;
    border-radius: 3px;
    font-family: Verdana;
    font-size: 14px;
    color: #434343;
}
.form-element{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.21);
    margin-bottom: 10px;
    padding: 0 17px;
    width: 285px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}

.form-element:focus{
    box-shadow: 0px 4px 9px 0 rgba(0, 0, 0, 0.21);
}
.form-element:focus::-webkit-input-placeholder{
    text-indent: 500px;
    transition: text-indent 0.6s ease;
}
.checkbox-text{
    margin-right: 8px;
    font-family: Verdana;
    font-size: 14px;
    color: #434343;
}
.button-chekbox{
    margin-top: 24px;
}
.button-bottom{
    outline: none;
    width: 322px;
    height: 46px;
    margin-top: 28px;
    background-color: #009a69;
    border: 0;
    transition: 0.3s ease-in;
    font-family: Verdana;
    font-size: 16px;
    line-height: 1.31;
    color: #ffffff;
}
.button-bottom:hover{
    background-color: #35764d;
}
.square{
    margin-left: 498px;
    margin-top: 113px;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #329a65;
}
input[type=checkbox]:checked + .checkbox-text::before { content: "\2713"; }

.checkbox-text::before {
    content: "\00A0";
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #B0B0B0;
    border-radius: 2px;
    margin-right: 6px;
    vertical-align: baseline;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #329a65;
}
input[type=checkbox] { display: none; }
.button{
    border: 0;
}