.containerForm {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=text], [type=email], [type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
