@import "reset.css";

body{
    background-size: cover;
    background-image: url('../images/background.png');
}
.wrapper{
    width: 1366px;
    height: 800px;
    margin: 49px auto 0 auto;
}
.header-clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.content-top{
    width: 500px;
    float: left;
    background-image: url("../images/logo1.png");
    background-repeat: no-repeat;
    height: 60px;
    width: 180px;
    position: relative;
    margin-left: 155px;
}
.content-top:hover{
    background-image: url("../images/logo.png");
    color: #f26522;
}
.milan{
    text-decoration: none;
    margin-left: 50px;
    font-family: Verdana;
    font-size: 29px;
    font-weight: bold;
    color: #ffffff;
}
.holidays{
    text-decoration: none;
    margin-left: 50px;
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;

}
.milan:hover{
    color: #f26522;
}
.holidays:hover{
    color: #f26522;
}
.contact{
    float: right;
    margin-right: 147px;
    margin-top: 15px;
    font-family: Verdana;
    font-size: 18px;
    line-height: 1.17;
    color: #ffffff;
}
.content{
    width: 1366px;
}
.item-image{
    width: 310px;
    height: 240px;
    margin-top: 45px;
    margin-left: 154px;
}
.item-image-one{
    width: 310px;
    height: 240px;
    margin-left: 69px;
    margin-top: 45px;
}
.item-image-two{
    width: 310px;
    height: 240px;
    margin-top: 45px;
    margin-left: 66px;
}
.one-image-text{
    float: left;
    margin-top: 20px;
    text-decoration: none;
    margin-left: 87px;
    font-family: Verdana;
    font-size: 18px;
    line-height: 1.17;
    color: #ffffff;
}
.image-dj{
    margin-top: 58px;
    margin-left: 157px;
}
.image-positioning{
    float: left;
    position: relative;
}
.image-art{
    margin-top:58px;
    margin-left: 69px;
}
.image-car{
    margin-top: 58px;
    margin-left: 68px;
}
.footer{
    float: left;
    margin-top: 61px;
    margin-left: 512px;
    margin-bottom: 20px;
    font-family: Verdana;
    font-size: 12px;
    line-height: 1.75;
    color: #ffffff;
}
.one-image-text:hover{
    color: #f26522;
}
.View{
    width: 110px;
    height: 11px;
    margin-top: 35px;
    margin-left: 185px;
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
}
.View::after{
    content: '>';
    margin-left: 10px;
    width: 7px;
    height: 10px;
    opacity: 0.5;
}
.from{
    margin-left:21px;
    margin-top: -30px;
    width: 24px;
    height: 8px;
    font-family: Verdana;
    font-size: 10px;
    line-height: 2.1;
    text-align: left;
    color: #ffffff;
}
.ero{
    margin-left:21px;
    margin-top: 10px;
    font-family: Verdana;
    font-size: 20px;
    line-height: 1.05;
    color: #ffffff;
}
.hover{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 312px;
    height: 63px;
    background-color: #f26522;
    opacity: 0;
    transition: all 200ms ease;
}
.hoverable:hover .hover {
    opacity: 1;
    top: 140px;
}
.image-border{
    border: 2px solid grey;
    border-image: linear-gradient(to bottom, #ffffff,#000) 1 100%;
    border-image-slice: 1;
}








