.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffefe;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
}
.loader{
    width: 75px;
    height: 75px;
    border: 10px solid #cdcdcd;
    border-radius: 50%;
    border-top-color: rgba(255, 255, 255, 0.99);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 1s spin infinite linear;
}

.done{
    opacity: 0;
    visibility: hidden;

 }

@keyframes spin {
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.header{
    width: 100%;
    height: 944px;
    background-color: white;
}
.header__list{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
    list-style: none;
    text-decoration: none;
}
.items:after{
    position: absolute;
    margin-top: 10px;
    background-color: #d2d2d2;
    content: "";
    height: 1px;
    width: 0%;
    transition: width 0.3s ease-in-out;
}
.items:hover:after{
    width: 55px;
}
.items:hover{
    color: #1d1e1f;
}
.icon:hover{
    background-color: #1d1e1f;
}
.items{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #989696;
    margin: 0 42px 0 42px;
}
.icon{
    width: 55px;
    height: 54px;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 0 59px 0 59px;
    background-color: black;
    color: white;
    position: relative;
}
.icon:hover:before{
    transform: scale(1);
}
.icon:hover:after{
    transform: scale(1);
}
.icon:before{
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0.2s;
    transform: scaleX(0);
}
.icon:after{
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    border-right: 1px solid white;
    border-left: 1px solid white;
    transition: 0.2s;
    transform: scaleY(0);
}
.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header__title{
    font-family: HelveticaNeueLTPro-Lt, sans-serif;
    font-size: 44px;
    line-height: 0.39;
    letter-spacing: 0.88px;
    color: #1d1e1f;
}
.header__text{
 margin-top: 4px;
    font-family: Merriweather;
    font-size: 16px;
    font-style: italic;
    line-height: 1.06;
    letter-spacing: 0.48px;
    color: #898888;
}
.header__button{
    margin-top: 43px;
    width: 188px;
    height: 57px;
    border: solid 1px #000000;
    background-color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    line-height: 1.31;
    letter-spacing: 0.52px;
    color: #000000;
    transition: 1s;
}
.header__button:hover{
    background-color: #e3e2e2;
    transition: 1s;

}
.header-loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 600px;
}
.loader-active{
    display: none;
}
.active{
    display: none;
}
/*.ellipse{*/
/*    margin: 12px 0 0 0 ;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    border-radius: 100px;*/
/*    opacity: 0.33;*/
/*    background-color: #d0d0d0;*/
/*    animation: 1s color infinite;*/
/*}*/
/*.loader:first-child{*/
/*    opacity: 0.33;*/
/*    background-color: #d0d0d0;*/
/*    animation: 1s color infinite;*/
/*}*/
/*.loader:nth-child(2){*/
/*    opacity: 0.33;*/
/*    background-color: #d0d0d0;*/
/*    animation: 2s color infinite;*/
/*}*/
/*@keyframes color {*/
/*    0%{*/
/*        background-color: #fcfcfc;*/
/*    }*/
/*    100%{*/
/*        background-color: #000000;*/
/*    }*/
/*}*/
.conteiner-year{
    width: 100%;
    height: 1332px;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    position: relative;


}
.content-year{
    width: 932px;
    display: flex;
    justify-content: center;


}
.line{
    width: 5px;
    height: 1332px;
    background-color: #ffffff;
}
.block-left{
    margin-top: 151px;
    margin-right: 81px;


}

.block-right{
    margin-top: 272px;
    margin-left: 81px;
}
.block-right:nth-child(2){
    margin-top: 353px;
}


.year{
    width: 99px;
    height: 35px;
    font-family: HelveticaNeueLTPro-Lt, sans-serif;
    font-size: 48px;
    line-height: 0.54;
    letter-spacing: 0.96px;
    color: #fefefe;

}
.item-left{
    text-align: right;
}

.text-year{
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.47;
    letter-spacing: 0.3px;
    text-align: left;
    color: #b7b7b7;
}
.block-left:nth-child(2){
    margin-top: 260px;
}

.ellipse-line{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -13px;
    border-radius: 100px;
    border: solid 5px #ffffff;
    background-color: #1d1d1d;
}
.ellipse-line:nth-child(1){
    margin-top: 270px;
}
.ellipse-line:nth-child(2){
    margin-top: 520px;
}
.ellipse-line:nth-child(3){
    margin-top: 630px;
    width: 30px;
    height: 30px;
    margin-left: -18px;
}
.ellipse-line:nth-child(4){
    margin-top: 980px;
}
.background-house{
    background-image: url("../images/bghouse.png");
    background-size: cover;
    width: 100%;
    height: 236px;
    position: absolute;
    margin-top: 1050px;
}
.background-house-w{
    background-image: url("../images/bghouse-w.png");
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 236px;
    margin-top: 1100px;
    margin-right: 100px;
}
.contact-content{
    display: flex;
    justify-content: center;
    padding-top: 82px;
}
.contact-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    font-family: HelveticaNeueLTPro-Lt, sans-serif;
    font-size: 34px;
    line-height: 0.76;
    letter-spacing: 0.68px;
    color: #1d1e1f;
}
.title:nth-child(2){
    font-family: Merriweather;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.63;
    letter-spacing: 0.32px;
    color: #504f4f;
}
.title-color{
    color: white;
}

.team-conteiner{
    width: 960px;
    height: 682px;
    display: flex;
   justify-content: space-between;
    margin-left: 30px;
}
.team-icon{
    margin-top: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-icon:nth-child(1){
     margin-top: 214px;
}
.team-icon:nth-child(3){
    margin-top: 214px;
}
.images-team{
    width: 169px;
    height: 169px;
}
.team-name{
    margin-top: 25px;
    font-family: HelveticaNeueLTPro-Lt, sans-serif;
    font-size: 24px;
    line-height: 1.08;
    letter-spacing: 0.48px;
    color: #464646;
}
.team-name-contact{
    margin-top: 7px;
    font-family: HelveticaNeueLTPro-Lt, sans-serif;
    font-size: 13px;
    line-height: 2;
    letter-spacing: 0.26px;
    color: #b3b3b3;
}
.fab{
    margin: 25px 5px 0 5px;
    color: #b8b7b7;
}
.fab:hover{
    color: #464646;
}
.triangle-up{
    width: 100%;
    height: 0;
    border-bottom: 200px solid #181818;
    border-left: 1700px solid transparent;
}
.service{
    width: 100%;
    height: 1300px;
    background-color: #181818;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.triangle-bottom{
    width: 0;
    height: 0;
    border-top: 200px solid #181818;
    border-right: 1700px solid transparent;
}

/*.hidden {*/
/*    display: none;*/
/*}*/

/*.visible {*/
/*    display: block;*/
/*}*/
.service-content{
    width: 1171px;
    height: 500px;
    margin-top: 218px;
    display: flex;
    justify-content: space-between;
    /*background-image: url("../images/Post5.png");*/
    /*background-size: cover;*/
}
.service-background{
    /*position: absolute;*/
    width: 1800px;
    height: 500px;
    background-image: url("../images/Post5.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-button{
    width: 217px;
    height: 64px;
    background-color: #ffffff;
    font-family: HelveticaNeueLTPro-Lt, sans-serif;
    font-size: 16px;
    letter-spacing: 0.32px;
    font-weight: bold;
    color: #000000;
}
.service-icon{
    margin: 0 70px 0 70px;
    width: 172px;
    height: 172px;
    border: solid 6px #ffffff;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-element{
    width: 335px;
}
.service-title{
    margin-top: 28px;
    font-family: HelveticaNeueLTPro-Lt, sans-serif;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.52px;
    text-align: center;
    color: #ffffff;
}
.service-text{
    margin-top: 31px;
    width: 335px;
    height: 40px;
    font-family: HelveticaNeueLTPro-Lt, sans-serif;
    font-size: 18px;
    line-height: 1.28;
    letter-spacing: 0.36px;
    text-align: center;
    color: #383838;
}
.contact-us{
    width: 100%;
    height: 1316px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact-icon{
    margin-top: 64px;
    width: 600px;
    display: flex;
    justify-content: space-between;

}
.contact-element{
    text-align: center;
    width: 150px;
    height: 43px;
}
.contact-text{
    font-family: HelveticaNeueLTPro-Lt, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.17;
    letter-spacing: 0.24px;
    text-align: center;
    color: #898888;
}
.fas{
    width: 14px;
    height: 21px;
    color: #323232;
}
.contact-info{
    display: flex;
    flex-direction: column;
    margin-top: 153px;
}
.contact-form-element{
    margin: 10px 0 10px 0;
    text-align: center;
    width: 770px;
    height: 52px;
    /*border: solid 1px #999999;*/
    color: #999999;
}
.contact-form-element:nth-child(4){
    width: 770px;
    height: 195px;

}
.contact-form-element:focus::-webkit-input-placeholder{
    text-indent: 1000px;
    transition: text-indent 0.4s ease;
}
.contact-bottom{
    width: 774px;
    height: 52px;
    background-color: #161616;
    color: white;
    font-family: HelveticaNeueLTPro-Lt, sans-serif;
    font-size: 17px;
    line-height: 1.53;
    letter-spacing: 0.34px;
}
.footer{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}








