*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.section{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 700px;
    height: 700px;
    color: red;
    margin-left: 25%;
    margin-right: 25%;
    transform: perspective(200px) rotateX(50deg);
}
.content-one{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
    font-family: Arial,sans-serif;
    color: yellow;
    line-height: 40px;
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: Arial,sans-serif;
    color: yellow;
    line-height: 40px;
}
.content-two{
    margin-left: 63px;
    margin-top: 40px;
    font-size: 30px;
    font-family: Arial,sans-serif;
    color: yellow;
    line-height: 40px;
}
.section-content{
    position: absolute;
    animation: name1 linear 30s infinite;
}
@keyframes name1 {
    0% {
        transform: translateY(85%);
    }
    100% {
        transform: translateY(-25%);
    }
}
