$color-title: #ffffff;
$header: #373c3f;
$header-menu: #202529;
$title-link: #a6d6e0;
$button: #acd8ad;
$drop-menu: #fafafa;
$drop-line: #f0f0f0;
$top-menu: #ebebeb;
* {
  box-sizing: border-box;
}
@import './components/header.scss';
@import './components/title.scss';
@import './components/midlle.scss';
@import './components/content.scss';




