body{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.inputClass{
    position: fixed;
    width: 200px;
    height: 20px;
    border-radius: 10px;



}
.spanClass{
    width: 200px;
    border: 3px solid green;
    height: 20px;
    margin-top: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.error{
    width: 200px;
    border: 3px solid red;
    color: red;
    height: 20px;
    margin-top: 60px;
    border-radius: 10px;

}