.section-block-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.footer{
    margin-top: 48px;
  }
}
.title-all{
  font-family: Lato, sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  &.change-color{
    color: #acd8ad;
    padding: 12px 0 0 19px;

    font-size: 19px;
  }
  &.other{
    color: $color-title;
  }
}
.fixed-width-for-title{
  //max-width: 320px;
  width: 100%;
  margin-top: 26px;
}
.title-all-text{
  font-family: Lato, sans-serif;
  font-size: 10px;
  color: #cbccce;
  &.transform-text{
    font-family: Lato, sans-serif;
    font-size: 15px;
    color: #3f4043;
    text-transform: uppercase;
  }
}
.background-title{
  margin-top: 10px;
  //width: 320px;
  height: 37px;
  background-color: $header-menu;
  &.block-color{
    background-color: $button;
  }
  &.background-footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.all-section-mobile{
  display: flex;
  flex-direction: column;
  margin-left: 19px;
}
.section-title-icon{
  width: 100%;
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-price-text{
  margin-top: 16px;
  //max-width: 286px;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titles-price{
  font-family: Lato, sans-serif;
  font-size: 13.5px;
  color: #3f4043;
}
.price{
  font-weight: bold;
  font-family: Lato, sans-serif;
  font-size: 13.5px;
}
.content {
  margin-top: 6px;
  //width: 286px;
  width: 100%;
  font-family: Lato, sans-serif;
  font-size: 9px;
  color: #3f4043;
  text-align: justify;
}
.footer-text{
  //width: 241px;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  color: $color-title;
}
.menu-ligi{
  display: none;
}
@media (min-width: 640px) {
  .section-block-title{
    //max-width: 640px;
    width: 100%;
  }
  .fixed-width-for-title{
    //max-width: 640px;
    width: 100%;
    margin-top: 52px;
  }
  //.title-all{
  //  font-size: 38px;
  //  &.change-color{
  //    padding: 24px 0 22px 38px;
  //    font-size: 38px;
  //  }
  //  &.other{
  //    color: $color-title;
  //  }
  //}
  //.title-all-text{
  //  font-size: 20px;
  //}
  .background-title{
    margin-top: 20px;
    //width: 640px;
    width: 100%;
    height: 74px;
  }
  .section-title-icon{
    //width: 572px;
    width: 100%;
    margin-top: 22px;
  }
  .title-all-text{
    //font-family: Lato, sans-serif;
    font-size: 19px;
    //color: #cbccce;
    &.transform-text{
      //font-family: Lato, sans-serif;
      font-size: 30px;
      //color: #3f4043;
      //text-transform: uppercase;
    }
  }
  .title-all{
    padding: 23px 0 0 28px;
  }
  .all-section-mobile{
    margin-left: 38px;
  }
  .icon-midlle{
    width: 49px;
    height: 48px;
  }
  .section-price-text{
    margin-top: 32px;
    //max-width: 572px;
    width: 100%;
    height: 50px;
  }
  .titles-price{
    font-size: 27px;
  }
  .price{
    font-size: 27px;
  }
  .content{
    margin-top: 12px;
    //width: 572px;
    width: 100%;
    font-size: 17px;
  }
}
@media (min-width: 980px){
.wrapper-container{
  display: flex;
}
  .fixed-width-for-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .fixed-elem-left{
    margin-left: 64px;
  }
  .menu-ligi{
    display: block;
    margin-right: 80px;
    width: 63px;
    height: 63px;
  }
  .title-all{
    font-size: 34px;
    margin-bottom: 10px;
  }
  .title-all-text{
    font-size: 20px;
  }
  .background-container{
    width: 100%;
  }
  .title-all{
    font-size: 34px;
    padding: 40px 0 0 18px;
  }
  .change-color{
    font-size: 34px;
  }




}