.header-navigation{
  height: 37px;
  background-color: $header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-logo{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 12px;
  color: $color-title;
  padding: 12px 0 12px 19px;
}
.header-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $header-menu;
  width: 41px;
  height: 37px;
}
.menu-icon{
  position: relative;
  width: 16px;
  height: 2px;
  background-color: $color-title;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    display: block;
    width: 16px;
    height: 2px;
    background-color: $color-title;
    transition: transform 0.2s ease-in, top 0.2s 0.2s linear;
  }
  &::after{
    content: '';
    position: absolute;
    left: 0;
    top: -4px;
    display: block;
    width: 16px;
    height: 2px;
    background-color: $color-title;
    transition: transform 0.2s ease-in, top 0.2s 0.2s linear;
  }
}
.active{
  background-color: transparent;
  &::after{
    transform: rotate(45deg);
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    top: 0;
  }
  &::before{
    transform: rotate(-45deg);
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    top: 0;
  }
}
.drop-down{
  display: none;
  width: 182px;
  background-color: $drop-menu;
  position: absolute;
  flex-direction: column;
  right: 0;
  top: 37px;
  &.active {
    display: flex;
  }
}
.drop-item {
  padding: 10px 10px;
  text-decoration: none;
  font-family: Lato, sans-serif;
  font-size: 10px;
  color: $header;
  border-bottom: 3px solid $drop-line;

  &:last-child {
    border-bottom: none;
  }
}
.logo-logo{
  display: none;
}

@media (min-width: 640px)  {
  .header-navigation{
    height: 74px;
  }
  .header-menu{
    width: 83px;
    height: 74px;
  }
  .header-logo{
    font-size: 24px;
    padding: 24px 0 24px 38px;
  }
  .drop-item {
    padding: 20px 20px;
    font-size: 20px;
    border-bottom: 5px solid $drop-line;
    &:last-child {
      border-bottom: none;
    }
  }
  .drop-down{
    display: none;
    width: 243px;
    background-color: $drop-menu;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 73px;
    &.active {
      display: flex;
    }
  }
}

@media (min-width: 980px) {
  .header-navigation{
    min-width: 980px;
    height: 74px;
    display: flex;

  }
  .header-logo{
    display: none;

  }
  .header-menu{
    display: none;
  }
  .logo-logo{
    display: block;
  }
  .logo-top{
    width: 109px;
    height: 83px;
    padding: 6px 30px 6px 0;
  }
  .drop-down{
    display: block;
    position: relative;
    width: 800px;
    flex-direction: row;
    background-color: transparent;
    top: 0;
  }
  .drop-item{
    border: none;
    color: $top-menu;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
  }
}







