.content-middle{
  padding-top: 3px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.content-navigation{
  display: flex;
  //width: 320px;
  height: 75px;
  margin-top: 3px;


}
.pizza-deliv{
  background-image: url("/dist/img/item-pizza.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.salads{
  background-image: url("/dist/img/sandwich.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.desserts{
  background-image: url("/dist/img/pancakes.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}
.content-item{
  text-align: center;
  width: 100%;
  padding-top: 27px;
  font-family: Lato, sans-serif;
  font-size: 20px;
  color: $color-title;
}
.click {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: $button;
  color: $color-title;
  width: 75px;
  height: 75px;;
}

@media (min-width: 640px) {
  .content-middle{
    padding-top: 6px;
    //max-width: 640px;
  }
  .content-navigation{
    width: 100%;
    height: 150px;
    margin-top: 6px;
  }
  .content-item{
    //width: 510px;
    width: 100%;
    padding-top: 54px;
    font-size: 40px;
  }
  .click{
    width: 142px;
    height: 150px;
    font-size: 30px;
  }
}
@media (min-width: 980px) {
  .content-middle{
    //width: 100%;

    flex-direction: row;
  }
  .content-navigation{
    width: 33.333%;
    height: 327px;
    cursor: pointer;
  }
  .click{
    display: none;
  }
  .content-item{
    padding-top: 145px;
  }
}