.title-container{
  height: 55vw;
  background-image: url("/dist/img/top-pizza.png");
  background-size: cover;
  padding: 19px 0 0 14px;
}
.top-title {
  font-family: Lato, sans-serif;
  font-size: 5vw;
  color: $color-title;
  margin: 11px 0 11px 0;
  line-height: 1.25;
}
.top-link{
  margin-top: 11px;
  font-size: 5vw;
  text-decoration: none;
  color: $title-link;
  font-family: Lato, sans-serif;
}
@media (min-width: 980px) {
  .top-title{
    margin-top: 64px;
    margin-bottom: 34px;
  }
}