@import "resets.css";

.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.tabels{
    border: 30px solid #3a4965;
}
.section-header{
    width: 310px;
    height: 156px;
    background-color: #fafafa;
    vertical-align: middle;
}
.section-header-text{
    font-family: Arimo,sans-serif;
    font-size: 18px;
    line-height: 1.56;
    font-weight: bold;
    color: #484848;
}
.section-header-text-two{
    font-family: Arimo, sans-serif;
    font-size: 30px;
    line-height: 0.93;
    font-weight: bold;
    color: #484848;
}
.section-square{
    width: 277px;
    height: 70px;
    vertical-align: middle;
}
.top-one{
    background-color: #89c331;
    border-left: 2px solid rgba(17, 17, 17, 0.05);
}
.top-two{
    background-color: #f04a56;
}
.top-there{
    background-color: #20807c;
}
.top-text{
    font-family: Arimo, sans-serif;
    font-size: 23px;
    color: #ffffff;
}
.section-square-buttom{
    vertical-align: middle;
    width: 277px;
    height: 89px;
    background-color: #fafafa;
    border-left: 2px solid rgba(17, 17, 17, 0.05);
}
.buttom-text{
    position: relative;
    right: 15px;
    font-family: Arimo,sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #484848;
}
.sup-price{
    font-family: Arimo,sans-serif;
    font-size: 24px;
    color: #484848;
    vertical-align: top;
}
.buttom-text::before{
    position: absolute;
    font-weight: 500;
    content: "$";
    left: 70px;
}
.buttom-text::after{
    position: absolute;
    top: 30px;
    right: 30px;
    font-weight: 300;
    content: "PER MONTH";
    font-family: Arimo,sans-serif;
    font-size: 18px;
    color: #484848;
}
.squer-footer{
    vertical-align: middle;
    width: 310px;
    height: 110px;
    background-color: #dddddd;
    border-left: 2px solid rgba(17, 17, 17, 0.05);
}
.buy-now{
    background-color: #f2f2f2;
}
.buttom-squer{
    background-color: #f2f2f2;
}
.light-squer{
    background-color: #f2f2f2;
}
.contact-us{
    width: 192px;
    height: 49px;
    border-radius: 10px;
}
.buttom-squer-one{
    outline: none;
    background-color: #484848;
    transition: background-color 1s linear;
    box-shadow: 0 4px 0px #404040;
}
.buttom-squer-one:hover{
    background-color: #89b5b1;

}
.buttom-squer-two{
    outline: none;
    background-color: #89c331;
    transition: background-color 1s linear;
    box-shadow: 0 4px 0px #89c331;
}
.buttom-squer-two:hover{
    background-color: #89b5b1;

}
.buttom-squer-ther{
    outline: none;
    background-color: #f04a56;
    transition: background-color 1s linear;
    box-shadow: 0 4px 0px #f04a56;
}
.buttom-squer-ther:hover{
    background-color: #89b5b1;

}
.buttom-squer-four{
    outline: none;
    background-color: #20807c;
    transition: background-color 1s linear;
    box-shadow: 0 4px 0px #20807c;
}
.buttom-squer-four:hover{
    background-color: #89b5b1;
}
.contact-us{
    margin-left: 59px;
    font-family: Arimo,sans-serif;
    font-size: 16px;
    color: #ffffff;
}
.icon-text{
    font-family: Arimo,sans-serif;
    margin-left: 14px;
    font-size: 16px;
    color: #484848;
}

.icons{
    vertical-align: middle;
    width: 277px;
    height: 69px;
    background-color: #f2f2f2;
}
.fas{
    margin-left: 105px;
    font-size: 24px;
    color: #848484;
}
.section{
    width: 277px;
    height: 69px;
    background-color: #f2f2f2;
    vertical-align: middle;
    border-left: 2px solid rgba(17, 17, 17, 0.05);
}
.fa-cloud-upload-alt{
    margin-left: 87px;
}
.fa-envelope{
    margin-left: 113px;
}
.fa-users{
    margin-left: 110px;
}
.text{
    vertical-align: middle;
    margin-left: 95px;
    font-family: Arimo,sans-serif;
    font-size: 16px;
    color: #484848;
}
.text-top{
    vertical-align: middle;
    margin-left: 85px;
    font-family: Arimo,sans-serif;
    font-size: 16px;
    color: #484848;
}
.section-dark-line{
    vertical-align: middle;
    width: 310px;
    height: 69px;
    background-color: #e3e3e3;
    border-left: 2px solid rgba(17, 17, 17, 0.05);
}
.text-center{
    vertical-align: middle;
    margin-left: 110px;
    font-family: Arimo,sans-serif;
    font-size: 16px;
    color: #484848;
}
.text-dark{
    font-family: Arimo,sans-serif;
    margin-left: 14px;
    font-size: 16px;
    color: #484848;
}
.content-dark{
    margin-left: 279px;
}
.content-dar-two{
    margin-left: 107px;
}
.text-suport{
    margin-left: 410px;
}
.text-user{
    margin-left: 118px;
}



