

/*.td{*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border: 1px solid black;*/
/*}*/

.table-striper td {
    border: 1px solid;
    width: 40px;
    height: 40px;
}
.active {
    background-color: blue;
}
.red{
    background-color: red;
}

.green {
    background-color: green;
}