@import "reset.css";
.side-bar{
    text-align: center;
    margin-top: 31px;
    margin-bottom: 36px;
    
}
header > a{
    text-decoration: none;
    padding: 66px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 1000;
    color: #16a085;
    letter-spacing: 3px;
}
.image{
    width: 100%;
    height: 788px;
    background-size: cover;
    background-image: url("element/top-img.png");
}

.title{
    margin-top: 56px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 1000;
    letter-spacing: 4px;
    color: black;
}
.content-text{
    text-align: center;
    margin-top: 40px;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 3px;
    color: black;
}
.content-text2{
    text-align: center;
    margin-top: 40px;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 3px;
    color: black;
}
.background{
    position: absolute;
    width: 100%;
    height: 650px;
    background-color: #f0f0f0;
}
button{
    margin-left: 607px;
    margin-top: 41px;
    width: 192px;
    height: 51px;
    border-radius: 15px;
    background-color: #16a085;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 1.8px;
    color: #ffffff;
}
.footer{
    position: relative;
    margin-top: 700px;
    margin-bottom: 45px;
    margin-left: 850px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #000000;
}
button:hover{
    color: #16a085;
	background: rgba(0,0,0,0);
}
a:hover{
    color: #000000;
}
